@use './variables' as * ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $font;
  
}

img{
  max-width: $width_img;
}

.container{
  width: 90%;
  max-width: 1380px;
  margin: 0 auto;
}

// Utiliy
.d_flex{
  display: flex;
}

nav ul li{
  list-style: none;
  padding-right: 10px;
}

nav ul li a{
  color: white;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover{
  text-decoration: underline;
  opacity: .7;
}
