@use './variables' as * ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $font;
  
}

img{
  max-width: 100%;
}

.container{
  width: 98%;
  max-width: 1380px;
  margin: 0 auto;
}

// Utiliy
.d_flex{
  display: flex;
}